@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800;900&family=Raleway:ital,wght@0,100;0,400;0,500;0,600;0,700;0,800;0,900;1,400&display=swap');

*{
    box-sizing: border-box;
}
body{
    background-color: rgba(238, 233, 233, 0.854);
    margin: 0;
    font-family: 'Inter', sans-serif;
    overflow-x: none;
    height: 100vh;
    font-size: 13px;
}
.grid{
    display: grid;
    grid-template-columns: auto 1fr;
    grid-template-rows: auto 1fr auto;
    gap: 5px;
}
.nav{
    background-color: white;
    grid-column: 2 / span 2;
    margin-left: -30px;
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 30px;
    height: 90px;
    width: 1250px;
}
.notification{
    display: flex;
    gap: 9px;
}
.img{
    position: relative;
    margin-top: 13px;
}
.img1{
    border-radius: 50px;
}
.img2{
    border-radius: 50px;
    width: 30px;
}
.input{
    position: relative;
    margin-left: 60px;
}
input{
    border: 1px solid gray;
    border-radius: 7px;
    padding: 10px;
    padding-left: 50px;
}
.search{
    position: absolute;
    margin-left: 16px;
    margin-top: 9px;
}
.menu{
    background-color: white;
    grid-column: 1;
    grid-row: 1 / span 3;
    padding: 30px;
    width: 260px;
    border-right: 1px solid rgba(238, 233, 233, 0.854);
}
.flex{
    margin-left: 30px;
}
.logo{
    margin-bottom: 25px;
    width: 122px;
    height: 33.57px;
}
li{
    display: flex;
    align-items: center;
    list-style-type: none;
    margin-top: 20px;
    margin-left: -30px;
    align-items: center;
    font-size: 13px;
}
button{
    border: none;
    border-radius: 8px;
    padding: 10px;
    height: 44px;
    width: 177px;
    background-color: #8146FF;
    color: white;
    margin: 20px;
    margin-top: 40px;
}
.color{
    background-color: rgba(238, 233, 233, 0.854);
    height: 40px;
    border-radius: 10px;
    padding-left: 30px;
    margin-left: -60px;
    margin-right: -20px;
}
.human{
    width: 187px;
    height: 126px;
    margin-top: 130px;
}
.set{
    width: 91.46px;
    height: 20px;
    display: flex;
    align-items: center;
    margin-top: 80px;
}
.main{
    background-color: white;
    grid-column: 2;
    padding: 40px;
    width: 425px;
    height: 299px;
    margin: 35px;
    border-radius: 19px;
}
.float{
    float: right;
    background-color: rgba(194, 217, 250, 0.753);
    color: rgba(0, 72, 255, 0.705);
    border-radius: 9px;
    padding: 8px;
}
.vec{
    color: rgba(0, 72, 255, 0.705);
}
.colors0{
    background-color: #DB48FF;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-right: 10px;
}
.colors1{
    background-color: #579AFF;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-right: 10px;
}
.colors2{
    background-color: #8146FF;
    height: 14px;
    width: 14px;
    border-radius: 50%;
    margin-right: 10px;
}
.CND{
    margin-top: 40px;
}
ul .floatRight1{
    margin-right: 155px;
}
ul .floatRight2{
    margin-right: 140px;
}
ul p{
    margin-right: 150px;
    
}
.main2{
    background-color: white;
    grid-column: 3;
    width: 655px;
    height: 299px;
    margin: 35px;
    padding: 0 40px;
    border-radius: 19px;
    padding-left: -50px;
}
.floatt{
    float: right;
}
.border{
    display: flex;
    justify-content: space-between;
    margin-top: 70px;
    margin-left: 30px;
    gap: 25px;
}
.bord{
    position: relative;
    background-color: rgba(238, 233, 233, 0.854);
    width: 49px;
    height: 125px;
    border-radius: 5px;
    padding-left: 5px;
}
.colo0{
    position: absolute;
    background-color: #579AFF;
    width: 40px;
    height: 43px;
    border-radius: 5px;
    margin-top: 78px;
}
.colo1{
    position: absolute;
    background-color: #DB48FF;
    width: 40px;
    height: 67px;
    border-radius: 5px;
    margin-top: 53px;
}
.colo2{
    position: absolute;
    background-color: #8146FF;
    width: 40px;
    height: 97px;
    border-radius: 5px;
    margin-top: 24px;
}
.colo3{
    position: absolute;
    background-color: #ff447c;
    width: 40px;
    height: 50px;
    border-radius: 5px;
    margin-top: 72px;
}
.colo4{
    position: absolute;
    background-color: #4cb050;
    width: 40px;
    height: 69px;
    border-radius: 5px;
    margin-top: 52px;
}
.colo5{
    position: absolute;
    background-color: #ff805d;
    width: 40px;
    height: 90px;
    border-radius: 5px;
    margin-top: 32px;
}
.swift0{
    position: absolute;
    margin-left: 5px;
    margin-top: 50px;
}
.swift1{
    position: absolute;
    margin-left: 5px;
    margin-top: 30px;
}
.swift2{
    position: absolute;
    margin-left: 5px;
    margin-top: 2px;
}
.swift3{
    position: absolute;
    margin-left: 5px;
    margin-top: 50px;
}
.swift4{
    position: absolute;
    margin-left: 5px;
    margin-top: 25px;
}
.swift5{
    position: absolute;
    margin-left: 5px;
    margin-top: 10px;
}
.table{
    background-color: white;
    grid-column: 2 / span 2;
    width: 1160px;
    height: 540px;
    margin: 35px;
    padding: 0 40px;
}
td{
    border-bottom: 1px solid rgba(238, 233, 233, 0.854);
    text-align: center;
}
td p{
    background-color: rgb(232, 255, 232);
    color: rgb(18, 247, 26);
    width: 80px;
    padding: 15px;
    border-radius: 9px;
}
th{
    background-color: rgba(238, 233, 233, 0.854);
    width: 1050px;
    height: 60px;
}
.inactive{
    background-color: rgb(255, 241, 241);
    color: red;
    width: 90px;
    border-radius: 9px;
}
.dip{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-top: 22px;
}
.btn{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.showPage{
    display: none;
}

@media screen and (max-width: 600px) {
    .showPage{
        display: block;
    }
    body{
        height: 150vh;
        overflow-x: hidden;
    }
    .grid{
        display: none;
    }
    nav{
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-left: 40px;
        padding-right: 0;
        height: 76px;
        width: 580px;
    }
    .img{
        position: absolute;
        margin-top: 3px;
    }
    .img1{
        position: absolute;
        left: -38px;
    }
    .notification{
        position: relative;
        display: flex;
        align-items: center;
    }
    ul{
        display: flex;
        justify-content: space-around;
    }
    li{
        cursor: pointer;
    }
    .dash{
        border: 1px solid gray;
        padding: 10px;
        border-radius: 8px;
    }
    h3{
        margin: 45px;
    }
    .name{
        display: flex;
        justify-content: space-between;
        align-items: center;
        background-color: white;
        margin: 0 auto;
        width: 495px;
        height: 95px;
        padding: 30px;
    }
    .nic{
        display: flex;
        align-items: center;
        gap: 10px;
    }
    .nic img{
        width: 40px;
    }
    .nic span{
        font-size: 12px;
        display: block;
    }
    .active{
        background-color: rgb(232, 255, 232);
        color: rgb(18, 247, 26);
        width: 80px;
        padding: 15px;
        border-radius: 9px;
    }
}